html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 1.5em;
  font-size: 1em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 5%;
  background-color: transparent;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: auto;
  }
}

header {
  background-color: transparent;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: color 3s ease;
  transition: color 3s ease;
}

header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "image . . menu";
  height: 100%;
}

@media screen and (min-width: 1200px) {
  header .container {
        grid-template-areas: "image menu menu menu";
  }
}

header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

header .logo img {
  width: 72px;
  height: 72px;
}

header .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  header .menu {
    display: none;
  }
}

.link {
  position: absolute;
  margin-top: -15vh;
  height: 15vh;
}

.solid {
  background-color: white;
}

#nav-icon3 {
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 25%;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 50%;
}

#nav-icon3 span:nth-child(4) {
  top: 75%;
}

#nav-icon3.open span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 75%;
  width: 0%;
  left: 50%;
}

.dropdown_menu {
  background-color: rgba(255, 255, 255, 0.95);
  text-align: right;
  height: 0vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height 2s ease-out;
  transition: height 2s ease-out;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  position: absolute;
  top: 15vh;
}

@media screen and (min-width: 1200px) {
  .dropdown_menu {
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: menu;
    height: 100%;
    background-color: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
  }
}

.dropdown_menu a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.open_menu {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  z-index: -1;
  background-color: transparent;
  padding-bottom: 5%;
}

@media screen and (min-width: 600px) {
  footer {
    padding-bottom: 0%;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    position: fixed;
    background-color: gainsboro;
  }
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "conditions conditions conditions social";
  height: 100%;
}

footer .conditions {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: conditions;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  footer .conditions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer .conditionsdiv {
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  footer .conditionsdiv {
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

footer .social {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1.5em;
}

section {
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

section .container {
  margin-top: 15vh;
}

#firm, #services, #team, #gallery, #contact {
  z-index: 2;
}

.full_height {
  height: 100vh;
}

.single_height {
  min-height: 85vh;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1200px) {
  .single_height {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    min-height: 50vh;
  }
  .single_height .card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.double_height {
  min-height: 170vh;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 600px) {
  .double_height {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 85vh;
  }
}

@media screen and (min-width: 1200px) {
  .double_height {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 50vh;
  }
}

#home {
  background-color: transparent;
  top: 0;
  margin-top: -15vh;
}

#home .container {
  background-color: transparent;
}

.entry {
  margin-top: -1px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}

.main_sentence {
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 2em;
}

.main_sentence h2 {
  font-weight: 400;
}

.js_left {
  width: 200%;
}

#firm .container {
  margin-top: 0;
}

#contacts {
  height: 70vh;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.card__image, .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 600px) {
  .card__image, .card__description {
    padding: 0 5%;
  }
}

.card__image img, .card__description img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80%;
  bottom: 0;
  max-width: 80%;
}

.card__image ul, .card__description ul {
  position: absolute;
  left: 0;
  top: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#gallery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.slider {
  width: 90vw;
  height: 90%;
  background: black;
  overflow: hidden;
  margin: 10% 0;
  position: relative;
}

.slider__wrapper {
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.slide {
  position: relative;
  float: left;
  width: 90vw;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}

.slide::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.slide__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.slide__text {
  position: absolute;
  color: white;
  bottom: 0.625rem;
  left: 0;
  padding: 1.25rem;
}

.swipe {
  margin-top: 2.5rem;
}

.swipe__img {
  -webkit-transform: translatex(10px);
          transform: translatex(10px);
  -webkit-animation: moving-finger 0.8s ease-in-out 4 alternate;
          animation: moving-finger 0.8s ease-in-out 4 alternate;
}

@-webkit-keyframes moving-finger {
  from {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes moving-finger {
  from {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@media screen and (min-width: 1200px) {
  #firm, #services, #team, #gallery {
    min-height: 50vh;
  }
  .double_height {
    min-height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */