
$bar_height: 15vh;
$bar_color: transparent;
$test_background: transparent;
$container_margin: 0 5%;

$break-phone: 600px;
$break-tablet: 1200px;
$break-laptop: 1600px;



html {
  scroll-behavior: smooth;
}



//reset parameters

body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Rubik', sans-serif;
  
  
  
}

ul{
  padding: 0;
  bottom:0;
}

li{
  list-style-type: none;
  line-height: 1.5em;
  font-size:1em;
}

p{
  font-size:1em;
}

a{
  text-decoration: none;
  color: black;
}

h3{
  font-size: 1.1em;
}


// main containers


.container{
  margin:$container_margin;
  background-color: $test_background;
  @media screen and (min-width: $break-laptop) {
    max-width: $break-laptop;
    margin: auto;
  }
}



//header and footer

header{
  background-color: transparent;
  height: $bar_height;
  position:fixed;
  top:0;
  z-index: 2;
  width: 100%;
  transition: color 3s ease;
  
  @media screen and (min-width: $break-tablet) {
    height: 10vh;
  }
  
  
  
  
  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "image . . menu";
    height: 100%;
    
    @media screen and (min-width: 1200px) {
      grid-template-areas:
      "image menu ";
      grid-template-columns: 25% 1fr;
    }
  }
  
  .logo{
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    height: 100%;
    position: relative;
    
    
    
    img{
      position: absolute;
      height: 60px;
      width: auto;
      
      @media screen and (min-width: 1200px) {
        width:72px;
        height: 72px;
        
      }
    }
  }
  
  .menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    @media screen and (min-width: 1200px) {
      display:none;
      grid-area: unset;
    }
  }
  
}


.opaque{
  background-color: rgb(220, 220, 220);
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  transition: .5s ease-in-out;
}


.link{
  position: absolute;
  margin-top:-15vh;
  height: 15vh;
  @media screen and (min-width: 1200px) {
    margin-top:-25vh;
    height: 25vh;
  }
}


.solid{
  background-color:white;
}


#nav-icon3{
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 25%;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 50%;
}

#nav-icon3 span:nth-child(4) {
  top: 75%;
}

#nav-icon3.open span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}


#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 75%;
  width: 0%;
  left: 50%;
}




.dropdown_menu {
  text-align: right;
  height: 0vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  transition: height 2s ease-out;
  transition: opacity 1s ease-out;
  opacity:0;
  position: absolute;
  top:15vh;
  background-color: rgba(255, 255, 255, 0.95);
  
  
  
  @media screen and (min-width: 1200px) {
    max-width: $break-laptop;
    opacity: 1;
    display:block;
    height: 100%;
    position: initial;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    background-color: transparent;
  }
  
  a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    
    
    
    
    @media screen and (min-width: 1200px) {
      display:inline;
      padding-left:50px;
      
      &:hover{
        text-decoration: underline;
        
      }
      
    }
    
  }
  
  
}


.open_menu{
  height: 85vh;
  display: flex;
  opacity:1;
  position: absolute;
  top:15vh;
  left:0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
}



footer{
  position: fixed;
  bottom:0;
  width:100%;
  height:15vh;  
  z-index: -1;
  background-color: transparent;
  padding-bottom:5%;
  
  @media screen and (min-width: $break-phone) {
    padding-bottom: 0%;
  }
  
  
  
  @media screen and (min-width: $break-tablet) {
    position: fixed;
  }
  
  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "conditions conditions conditions social";
    height: 100%;
    
  }
  
  .conditions{
    grid-area: conditions;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
    @media screen and (min-width: $break-phone) {
      flex-direction: row;
      justify-content:flex-start;
      
      
    }
    
    
  }
  
  .conditionsdiv{
    font-size:0.8em;
    @media screen and (min-width: $break-phone) {
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      
      
    }
    
    
  }
  
  .social{
    grid-area: social;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    height: 100%;
    font-size: 1.5em;
    
  }
  
}

//MAIN


// settings to deal with override of the fixed navbar and footer

section{
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  
  background-color: white;
  
  .container{
    margin-top:$bar_height;
  }
}

#firm, #services,#team,#gallery,#contact{
  z-index: 2;
}



.full_height{
  height: 100vh;
}

.single_height{
  min-height: 85vh;
  z-index: 1;
  display:grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr;
  
  @media screen and (min-width: $break-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 50vh;
    
    .card{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  
  
}

.double_height{
  min-height: 170vh;
  z-index: 1;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
  
  @media screen and (min-width: $break-phone) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
  }
  
  
  @media screen and (min-width: $break-tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
  }
  
  
}

//Home Page 




#home{
  background-color: transparent;
  top:0;
  margin-top:-15vh;
  .container{
    background-color:transparent;
  }
}


#hero_video{
  display:none;
  visibility: hidden;
  
  @media screen and (min-width: $break-tablet) {
    display:block;
    visibility: visible;
  }
  
}

#hero_img{
  @media screen and (min-width: $break-tablet) {
    display:none;
    visibility: hidden;
  }
  
}



.entry{
  margin-top: -1px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  filter: opacity(40%);
  width:100%;
  object-fit: cover;
  z-index: -3;
}


.main_sentence{
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 2em;
  
  h2{
    font-weight: 400;
  }
  
  
}

@media screen and (min-width: $break-tablet) {
  .main_sentence_break{
    display:none;
  }
}



.js_left{
  width: 200%;
}








//fix for margin of first section after home page



#firm .container{
  margin-top:0;
}


#contacts{
  height: 70vh;
}

//end


.card{
  display:grid;
  grid-template-rows: 1fr 1fr;
  
}





.card__image, .card__description{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  position: relative;
  
  
  
  @media screen and (min-width: $break-phone) {
    padding: 0 5%;
  }
  
  
  
  img{
    position: absolute;
    object-fit: contain;
    height: 80%;
    bottom:0;
    max-width: 80%;
  }
  
  
  ul{
    position: absolute;
    left: 0;
    top:0;
  }
}



//services




#services {

.card{
  grid-template-rows: 1fr 40vh
}
  

.card__description{

  justify-content: flex-end;
  align-items:flex-end;
  margin-top: 5px;

  ul{
    margin-top:50px;
  }

}

  .card__image img{
    top:20px;
    max-height: 40vh;
  }
  
  li{
    text-align: left;

    &:hover{
      color:blue;
    }
  }
  
}

#a-img{
  opacity: 1;
  transition: opacity 2s ease;
}

.fade{
  opacity:0;
}

.fade1{
  opacity:0;
}


@media screen and (min-width: $break-phone){
#team_a{
  grid-area: team_b;
}

#team_b{
  grid-area: team_a;
}
}


#team{

  .double_height{
  grid-template-rows: 1fr 1fr;


  @media screen and (min-width: $break-phone) {
    grid-template-rows: 1fr;

    .card:nth-child(1){
      
      img{
        top:-2.5vh;
      }
    }

    .card:nth-child(2){
      grid-template-areas: "team_a"
      "team_b";

      img{
        top:auto;
        bottom:-2.5vh;
      }
    }
  }

}



.card__description h3{
  text-align: left;
  width: 100%;

}

.card__image img{
  max-width:none;
  width: 100vw;
  height: 35vh;
  top:0;
  object-fit: cover;

  @media screen and (min-width: $break-phone) {
    width: 90%;
  }
  
}

}






//gallery 

//slider
/*

*,
*:before,
*:after {
  box-sizing: inherit;
}


#gallery{
  box-sizing: border-box;
  
}


.gallery_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.slider {
  width: 90vw;
  height: 50vh;
  background: black;
  overflow: hidden;
  margin: 5vh 0;
  position: relative;
  
}

.slider__wrapper {
  height: 100%;
  transition: transform 0.3s;
  
}

.slide {
  position: relative;
  float: left;
  width: 90vw;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  pointer-events: none;
  
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    
    
  }
}

.slide__img {
  width: 100%;
  overflow: visible;
  
  object-fit: cover;
  position:absolute;
}

.slide__text {
  color: black;
  position: relative;
  color: white;
  bottom: -70vh;
  left: 0;
  padding: 1.25rem;
  
}

.swipe {
  margin-top: 2.5rem;
}

.swipe__img {
  transform: translatex(10px);
  animation: moving-finger 0.8s ease-in-out 4 alternate;
}

@keyframes moving-finger {
  from {
    transform: translatex(10px);
  }
  to {
    transform: translatex(0);
  }
}


*/

.gallery_title{
  text-align: center;
  height: 10vh;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
  img{
    height: 65vh;
    object-fit: cover;
  }
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 32.5vh;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 1em;
  padding-top: 8px;
  position: relative;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


//end


@media screen and (min-width: $break-tablet) {
  #firm, #services, #team, #gallery{
    min-height: 50vh;
    
  }
  
  .double_height{
    min-height: 50vh;
  }
}


#map {
  display:none;
  visibility: hide;
  width: 100%;
  height: 400px;
  background-color: grey;
  @media screen and (min-width: $break-tablet) {
    display:block;
    visibility: visible;
    
  }
}


.contacts__description{
  margin-top:5vh;
}