$bar_height: 15vh;
$bar_color: transparent;
$test_background: transparent;
$container_margin: 0 5%;

$break-phone: 600px;
$break-tablet: 1200px;
$break-laptop: 1600px;



html {
  scroll-behavior: smooth;
}



//reset parameters

body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Rubik', sans-serif;
  
  
  
}

ul{
  padding: 0;
  bottom:0;
  @media screen and (min-width: $break-phone) {
    padding-top:20px;
  }
}

li{
  list-style-type: none;
  line-height: 1.5em;
  font-size:1em;
  @media screen and (min-width: $break-phone) {
    font-size:1.5em;
  }
}

p{
  font-size:1em;
}

a{
  text-decoration: none;
  color: black;
  margin-top:0;
}

h3{
  font-size: 1.1em;
  @media screen and (min-width: $break-phone) {
    font-size: 1.8em;
  }
}

h4{
  margin:0;
  padding-top: 2vh;
  text-align: left;
  width: 100%;
}


.btn{
  
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
  
}



// main containers


.container{
  margin:$container_margin;
  background-color: $test_background;
  @media screen and (min-width: $break-laptop) {
    max-width: $break-laptop;
    margin: auto;
  }
}

#services .container{
@media screen and (min-width: $break-laptop) {
  max-width: 100vw;
  margin: auto;
}
}



//header and footer

header{
  background-color: transparent;
  height: $bar_height;
  position:fixed;
  top:0;
  z-index: 2;
  width: 100%;
  transition: color 3s ease;
  
  @media screen and (min-width: $break-tablet) {
    height: 10vh;
  }
  
  
  
  
  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "image . . menu";
    height: 100%;
    
    @media screen and (min-width: 1200px) {
      grid-template-areas:
      "image menu ";
      grid-template-columns: 25% 1fr;
    }
  }
  
  .logo{
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    height: 100%;
    position: relative;
    
    
    
    img{
      position: absolute;
      height: 60px;
      width: auto;
      
      @media screen and (min-width: 1200px) {
        width:72px;
        height: 72px;
        
      }
    }
  }
  
  .menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    @media screen and (min-width: 1200px) {
      display:none;
      grid-area: unset;
    }
  }
  
}


.opaque{
  background-color: rgb(220, 220, 220);
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  transition: .5s ease-in-out;
}


.link{
  position: absolute;
  margin-top:calc(-15vh + 2px);
  height: calc(-15vh + 2px);
  @media screen and (min-width: 1200px) {
    margin-top:-25vh;
    height: 25vh;
  }
}


.solid{
  background-color:white;
}


#nav-icon3{
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 25%;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 50%;
}

#nav-icon3 span:nth-child(4) {
  top: 75%;
}

#nav-icon3.open span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}


#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 75%;
  width: 0%;
  left: 50%;
}




.dropdown_menu {
  text-align: right;
  height: 0vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  transition: height 2s ease-out;
  transition: opacity 1s ease-out;
  opacity:0;
  position: absolute;
  top:15vh;
  background-color: rgba(255, 255, 255, 0.95);
  
  
  
  @media screen and (min-width: 1200px) {
    max-width: $break-laptop;
    opacity: 1;
    display:block;
    height: 100%;
    position: initial;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    background-color: transparent;
  }
  
  a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    
    
    
    
    @media screen and (min-width: 1200px) {
      display:inline;
      padding-left:50px;
      
      &:hover{
        text-decoration: underline;
        
      }
      
    }
    
  }
  
  
}


.open_menu{
  height: 85vh;
  display: flex;
  opacity:1;
  position: absolute;
  top:15vh;
  left:0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
}



footer{
  position: fixed;
  width:100%;
  height:15vh;
  bottom:0;
  z-index: -1;
  background-color: transparent;
  padding-bottom:3vh;


  @media screen and (min-width: $break-phone) {
    padding-bottom: 0%;
  }
  
  
  
  @media screen and (min-width: $break-tablet) {
    position: fixed;
  }
  
  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "conditions conditions conditions social";
    height: 100%;
    
  }
  
  .conditions{
    grid-area: conditions;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.2em;
    
    
    @media screen and (min-width: $break-phone) {
      flex-direction: row;
      justify-content:flex-start;
      
      
    }
    
    
  }
  
  .conditionsdiv{
    font-size:0.8em;
    @media screen and (min-width: $break-phone) {
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      
      
    }
    
    
  }
  
  .social{
    grid-area: social;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    height: 100%;
    font-size: 1.5em;
    
  }
  
}

//MAIN


// settings to deal with override of the fixed navbar and footer

section{
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  
  background-color: white;
  
  .container{
    margin-top:$bar_height;
  }
}

#firm, #services,#team,#gallery,#contact{
  z-index: 2;
}



.full_height{
  height: 100vh;
}

.single_height{
  min-height: 85vh;
  z-index: 1;
  display:grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr;
  
  @media screen and (min-width: $break-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 50vh;
    
    .card{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  
  
}

.double_height{
  min-height: 170vh;
  z-index: 1;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
  
  @media screen and (min-width: $break-phone) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
  }
  
  
  @media screen and (min-width: $break-tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
  }
  
  
}

//Home Page 




#home{
  background-color: transparent;
  top:0;
  margin-top:-15vh;
  .container{
    background-color:transparent;
  }
}


#hero_video{
  display:none;
  visibility: hidden;
  
  @media screen and (min-width: $break-tablet) {
    display:block;
    visibility: visible;
  }
  
}

#hero_img{
  @media screen and (min-width: $break-tablet) {
    display:none;
    visibility: hidden;
  }
  
}



.entry{
  margin-top: -1px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  filter: opacity(40%);
  width:100%;
  object-fit: cover;
  z-index: -3;
}


.main_sentence{
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.9em;
  
  h2{
    font-weight: 400;
  }
  
  
}

@media screen and (min-width: $break-tablet) {
  .main_sentence_break{
    display:none;
  }
}



.js_left{
  width: 200%;
}








//fix for margin of first section after home page



#firm .container{
  margin-top:0;

p{
  margin:1vh 0 0 0;
  line-height: 1.3;
  font-size: 0.95em;
}


}




//end


.card{
  display:grid;
  grid-template-rows: 1fr 1fr;
  height:42.5vh;
  
}





.card__image, .card__description{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  position: relative;
  
  
  
  @media screen and (min-width: $break-phone) {
    padding: 0 5%;
  }
  
  
  
  img{
    position: absolute;
    object-fit: contain;
    height: 90%;
    bottom:0;
    max-width: 80%;
    @media screen and (min-width: $break-phone) {
      height: 80%;
    }
  }
  
  
  ul{
    position: absolute;
    left: 0;
    top:0;
  }
}



//services




#services {
  
  .light{
    background-color: rgb(129, 201, 131);
  }

  .light:hover{
    transition: background-color 1000ms linear;
    background-color: transparent;
  }
  

  .dark{
    background-color: rgb(129, 201, 131);
  }


  .dark:hover{
    background-color: transparent;
  }

  .container{
    margin: 0 0;
    margin-top:15vh;


  }
  @media screen and (min-width: $break-phone) {
    .container{
      margin: 0 0;
      margin-top:15vh;
    }

    .single_height{
      height: 85vh;
    }
  }
  
  
  .card{
    grid-template-rows: 1fr 40vh;
    display:none;
    
    @media screen and (min-width: $break-phone) {
      display:none;
    }
  }
  
  
  .card__description{
    
    justify-content: flex-end;
    align-items:flex-end;
    margin-top: 5px;
    
    ul{
      margin-top:50px;
    }
    
  }
  
  .card__image img{
    top:20px;
    max-height: 40vh;
  }
  
  li{
    text-align: left;
    
    &:hover{
      color:blue;
    }
  }
  
}


.tile_group{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2vw;

  
  @media screen and (min-width: $break-phone) {
    display:grid;
   
  }
  
  
}


.tile{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
  background-color:rgb(145, 167, 120);
  @media screen and (min-width: $break-phone) {
    max-height: 30vh;
  }
  
  }
  

  
  





.tile h3{
  position: absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  font-weight: 550;
  font-size: 1em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  opacity:1;

 
  &:hover{
    opacity: 0;
  }
}






.tile img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin:auto;
  opacity: 0;
  
  &:hover{
    opacity: 1;
    transition:opacity .5s ease-out 0.3s;
  }
  
 
}






@media screen and (min-width: $break-phone){
  #team_a{
    grid-area: team_b;
  }
  
  #team_b{
    grid-area: team_a;
  }
}


#team{
  
  
  
  
  .double_height{
    grid-template-rows: 1fr 1fr;
    
    
    @media screen and (min-width: $break-phone) {
      grid-template-rows: 1fr;
      
      .card:nth-child(1){
        
        img{
          top:-2.5vh;
        }
      }
      
      .card:nth-child(2){
        grid-template-areas: "team_a"
        "team_b";
        
        img{
          top:auto;
          bottom:-2.5vh;
        }
      }
    }
    
    @media screen and (min-width: $break-tablet){
      grid-template-columns: 1fr 1fr;
    }
    
    
    .card{

      .card__description, .card__image{
      height: 42.5vh;
    }


    
      
      @media screen and (min-width: $break-tablet){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        
        
        
      }
      
    }
    
    .card:nth-child(2){
      
      @media screen and (min-width: $break-tablet){
        grid-template-areas: "team_b team_a";
        
        img{
          top:auto;
          bottom:auto;
        }
        
      }
      
    }
    
    .card:nth-child(1){
      
      @media screen and (min-width: $break-tablet){
        
        img{
          top:auto;
          bottom:auto;
        }
        
      }
      
    }
    
    
  }
  
  
  
  .card__description h3{
    text-align: left;
    width: 100%;
    
  }
  
  .card__image img{
    max-width:none;
    width: 100vw;
    height: 35vh;
    top:0;
    object-fit: cover;
    
    @media screen and (min-width: $break-phone) {
      width: 90%;
    }
    
  }
  
}






//gallery 




#gallery{
  
  //slider
  /*
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  #gallery{
    box-sizing: border-box;
    
  }
  .gallery_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }
  .slider {
    width: 90vw;
    height: 50vh;
    background: black;
    overflow: hidden;
    margin: 5vh 0;
    position: relative;
    
  }
  .slider__wrapper {
    height: 100%;
    transition: transform 0.3s;
    
  }
  .slide {
    position: relative;
    float: left;
    width: 90vw;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    pointer-events: none;
    
    
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      
      
    }
  }
  .slide__img {
    width: 100%;
    overflow: visible;
    
    object-fit: cover;
    position:absolute;
  }
  .slide__text {
    color: black;
    position: relative;
    color: white;
    bottom: -70vh;
    left: 0;
    padding: 1.25rem;
    
  }
  .swipe {
    margin-top: 2.5rem;
  }
  .swipe__img {
    transform: translatex(10px);
    animation: moving-finger 0.8s ease-in-out 4 alternate;
  }
  @keyframes moving-finger {
    from {
      transform: translatex(10px);
    }
    to {
      transform: translatex(0);
    }
  }
  */
  
  .gallery_title{
    text-align: center;
    height: 10vh;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
    img{
      height: 65vh;
      object-fit: cover;
    }
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 32.5vh;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 1em;
    padding-top: 8px;
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
}

//end


@media screen and (min-width: $break-tablet) {
  #firm, #services, #team, #gallery{
    min-height: 50vh;
    
  }
  
  .double_height{
    min-height: 50vh;
  }
}








#contacts{
  
.container{
  min-height: 67vh;
  margin-bottom:18vh;
  @media screen and (min-width: $break-phone) {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "address contact toggle"
                         "map map map";
                         height: 67vh;


    .contacts__description{
      width: 50%;
    }

    .div_btn{
      display:none;
    }
      
    }
}
  
.div_btn{
  height: 8vh;
}
  

#gmap_canvas{
  height: 45vh;
  display:none;
  margin: 5vh 0;
  @media screen and (min-width: $break-phone) {
    grid-area: map;
    display:block;
    
    }
}

form{
  min-height: 35vh;
  display:none;
  padding: 10vh 0 5vh 0;

  @media screen and (min-width: $break-phone) {
    display:none;
    width: 100%;

    div{
      display: block;
      float: left;
      width: 20vh;
      padding-right: 2vw;
      margin-bottom: 5vh;
    }
    
    }


  input[type="text"], input[type="email"], select {
    margin-top:5px;
    width: 70%;
    display:block;
    background-color: green;
  }


  p{
    margin:10px 0 5px 0;
  }

  b{
    margin:15px 0 10px 0;
  }


}

.contacts__description{
  padding-top:5%;
  height: 20vh;
}



}

@media screen and (min-width: $break-phone) {
  
  #contact_div{
    grid-area: contact;
  }

  #address{
    grid-area: address;
  }

  #map{
    display: none;
    grid-area: map;
  }
  

#form{
  grid-area: map;
}

  }

.form_show{
  display:block!important;
}

#toggleMapForm{
  display:none;
  @media screen and (min-width: $break-phone) {
display:flex;
grid-area: toggle;


  }

}



//efects
/* Grow */

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: transparent;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

